<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>

<body>
    {% extends "base.html" %}
    {% block title %}
    Page Not Found
    {% endblock title %}

    {% block sidenav %}
    <li><a href="/">Home</a></li>
    {% endblock sidenav %}

    {% block content %}
    <h1>Aw Crapola!</h1>
    <p>Not sure where you were going there mate, want to try again? </p>
    <p>Thanks.</p>
    {% endblock content %}

</body>

</html>