{% extends "countries/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About App</title>
</head>

<body>
    {% block content-section %}
    <div class="content-section">
        <h3>Football Sidebar</h3>
        <p class='text-muted'> I am looking for a new job.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">About </li>
            <li class="list-group-item list-group-item-light">Side</li>
            <li class="list-group-item list-group-item-light">Bar</li>
            <li class="list-group-item list-group-item-light">Menu</li>
        </ul>
        </p>
    </div>
    {% endblock content-section %}
</body>

</html>