{% extends "countries/base.html" %}
{% block content %}

{% block main_area %}
<h3>Find the Leagues of a Country</h3>
  <form action="{% url 'search_results' %}" method="get">
      <input name="q" type="text" placeholder="Country...">
      <input class="btn btn-warning mb-1" type="submit" name = "first_button" value="Submit">
  </form>
</br></br>
  <h4>Example of Countries here</h4>
{% endblock main_area %}


{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">
  << </a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">
      < </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
        {% endif %}

        {% endif %}
        {% endblock content %}